/*@import 'node_modules/modern-normalize/modern-normalize.css';*/ 
.navbar{
    background-color: #000116;
}   
.navbar-header{
    width: 100%;
    display: flex;
    background:#000116; 
    border-bottom: solid #000116 2px;
    box-shadow: 0px 1px 13px 0px #6C18F8; 
    padding:5px;
    justify-content: space-between;
}      
.navbar-brand{
    padding:0 15px 0 15px;
}
.navbar-item{
    padding: 0 35px 0 35px; 
    text-decoration: none;
    color: #f2e6ff;
}
.navbar-item:hover{ 
    border-radius: 25px; 
}      
.buttons{
    margin: 0 15px 0 0px; 
}
.button{ 
    background-color: #f2e6ff ; 
    width: auto;
    height: 30px;
    border-color: #282A87;
}
.button:hover{
    border-color: #6C18F8;
    color: #000116;
}